.league {
    min-height: 85vh;
}

.table-title {
    color: #fa9f42;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 5%;
}

.table-container {
    display: flex;
    justify-content: center;
}