.leagueTable {
  width: 80%;
  height: auto;
  text-align: center;
  padding: 0;
  margin: 0;
}

.leagueTableHeader {
  display: grid;
  grid-template-columns: 4ch 1fr repeat(8, 4ch);
  grid-gap: 0.15%;
}

.leagueTableHeader > div {
  padding: 2px;
}

.leagueTableHeader > div:not(:first-child) {
  background-color: #00ff85;
  border-radius: 5px;
  margin-bottom: 0.313rem;
  font-weight: bold;
}

.leagueTableHeader > div:nth-of-type(10n+2) {
  text-align: left;
  padding-left: 0.625rem;
}


.clubInfo {
  display: grid;
  grid-template-columns: 4ch 1fr repeat(8, 4ch);
  grid-gap: 0.15%;
  margin-bottom: 0.313rem;
  border-radius: 5px;
}

.clubInfo > div {
  padding: 2px;
  color: white;
  background-color: #1a271f;
  border-radius: 5px;
}

div > p {
  margin: 0%;
}

.flipper {
  transform-style: preserve-3d;
}

.start-flip {
  transform: rotateX(180deg);
  transition: transform 0.7s;
}

.front, .back {
  backface-visibility: hidden;
}

.front {
  background-color: black;
}

.back {
  transform: rotateX(180deg);
}


.clubInfo > div:nth-of-type(10n+2) {
  text-align: left;
  padding-left: 0.625rem;
}
