.navBar {
    display: flex;
    height: 5rem;
    background-color: #00ff85;
    align-items: center;
}

.navBar-title-containter {
    margin-left: 2.5%;
    min-width: fit-content;
}

.navBar-title {
    font-size: 2rem;
    padding-right: 20px;
    border-right: 5px solid #E0E0E2;
}

.directory {
    display: flex;
    margin-left: 2.5%;
    min-width: fit-content;
    align-items: center;
}

.navLink {
    padding-right: 20px;
}