.team-container {
    display: flex;
    position: relative;
    min-height: fit-content;
    width: 100%;
    height: 100%;
    background-color: #FA9F42;
    background-image: url(../../public/imgs/bannerTest9.png); 
    background-position: 5%;
    border: solid 2px #E0E0E2;
    border-radius: 15px;
}

.team-name-container {
    display: flex;
    width: 75%;
    align-items: center;
    padding: 0;
}

.team-name-container > h2 {
    margin: 0;
}

.team-logo-container {
    display: flex;
    margin: 5%;
    width: 25%;
    justify-content: center;
    align-items: center;
    width: 50px;
}

.team-logo {
    height: 100%;
    width: 100%;
}